Highly Focused Requirements
* Rmeove the third row in the main page and replace it with contact form.
* Remove read me(Links) in the Heading
* Add the Footer to All pages
* Add contact us info in the main page
* Add Application main page for View the Contact Messages
* Modify Header and Footer to the Application



https://clacite-mrsamer.c9users.io/projects/daralsahab/